In [288]:
# 주피터 노트북 환경설정
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

from IPython.display import Image

from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 98% !important; }</style>"))

In [241]:
import numpy as np
import pandas as pd

In [242]:
dfOrderlist = pd.read_excel('orderlist_original.xlsx')
dfMasales3 = pd.read_excel('masales3_추출한_ProductCodeList.xlsx')

In [243]:
dfOrderlist.head()

   ITEM_ID          ITEM_NAME  ITEM_IDV_COST
0     2057    [BU951] 크레이프 BL          19500
1     3180  [B1165] 빈티지 체인 와펜           2838
2     3331    [B1216] 리치 울 코트          64000
3     4579     [B1716] 멀티 레깅스          18348
4     4773     [B1791] 라이더 자켓          25600

In [244]:
dfMasales3.head()

  ProductCode   ProductName    productTag1  productTag2
0       B1165     빈티지 체인 와펜         베이지,카키         Free
1       B1216       리치 울 코트          블랙,카멜     B1,B2,B3
2       B1286      핸드메이드 코트             블랙           B3
3       B1606  도트 그라데이션 머플러           인디핑크         Free
4       B1716        멀티 레깅스  그레이,네이비,블랙,차콜  B1,B2,B3,BF

In [245]:

arrProductCode = dfMasales3['ProductCode'].to_numpy()
arrProductCode

array(['B1165', 'B1216', 'B1286', ..., 'D0302', 'D0303', 'D0305'],
      dtype=object)

In [246]:
lenPC = len(arrProductCode)
lenPC

2738

In [247]:
 xx = []
for x in arrProductCode:
    # x = masales3의 프로덕트코드
    # 뽑아낸 프로덕트코드인 x를 리스트 xx에 담는다
    xx.append(x)
   

xx[:10]

['B1165',
 'B1216',
 'B1286',
 'B1606',
 'B1716',
 'B1731',
 'B1791',
 'B1962',
 'B1963',
 'B1987']

In [248]:
#for y in xx:
#    print(y)

In [249]:
# original 에서 제품코드만 뽑아낸다.
arrOrigProductCode = []
arrOrigProductCode = dfOrderlist['ITEM_NAME'].to_numpy()
arrOrigProductCode[:10]

array(['[BU951] 크레이프 BL', '[B1165] 빈티지 체인 와펜', '[B1216] 리치 울 코트',
       '[B1716] 멀티 레깅스', '[B1791] 라이더 자켓', '[B1933] 시즌 샌들',
       '[B1963] 꽈베기 벨트', '[B1962] 트랜드 스트랩 샌들', '[B2067] 체인 벨트',
       '[B2160] 메트 매쉬 쇼퍼 백'], dtype=object)

In [250]:
# 문자열의 특정 문자사이의 값을 찾기 위한 메소드
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

In [251]:
# original에서 뽑아낸 제품코드에서 subString으로 제품코드만 추출한다

xxx = []
for x in arrOrigProductCode:
    s = find_between( x, "[", "]" )
    xxx.append(s)
xxx[:10]

['BU951',
 'B1165',
 'B1216',
 'B1716',
 'B1791',
 'B1933',
 'B1963',
 'B1962',
 'B2067',
 'B2160']

In [252]:
xxxIndex = []
xxxIndex = dfOrderlist.index
xxxIndex

RangeIndex(start=0, stop=2655, step=1)

In [253]:
for x in xxxIndex:
    
    #print(x)
    
    dfOrderlist.loc[x, 'ProductCode'] = xxx[x]

In [254]:
#추출한 프로덕트 코드를 dataFrame에 새로운 컬럼으로 넣어준다.
dfOrderlist.head()

   ITEM_ID          ITEM_NAME  ITEM_IDV_COST ProductCode
0     2057    [BU951] 크레이프 BL          19500       BU951
1     3180  [B1165] 빈티지 체인 와펜           2838       B1165
2     3331    [B1216] 리치 울 코트          64000       B1216
3     4579     [B1716] 멀티 레깅스          18348       B1716
4     4773     [B1791] 라이더 자켓          25600       B1791

In [255]:
#오리지널과 masales3의 공통인 것들만 
dfCommonValue = dfOrderlist.loc[dfOrderlist['ProductCode'].isin(xx)]
dfCommonValue.head()

   ITEM_ID          ITEM_NAME  ITEM_IDV_COST ProductCode
0     2057    [BU951] 크레이프 BL          19500       BU951
1     3180  [B1165] 빈티지 체인 와펜           2838       B1165
2     3331    [B1216] 리치 울 코트          64000       B1216
3     4579     [B1716] 멀티 레깅스          18348       B1716
4     4773     [B1791] 라이더 자켓          25600       B1791

In [256]:
#반대..
dfNotCommonValue = dfOrderlist.loc[~dfOrderlist['ProductCode'].isin(xx)]
dfNotCommonValue.head()

    ITEM_ID        ITEM_NAME  ITEM_IDV_COST ProductCode
5      4974    [B1933] 시즌 샌들          34000       B1933
11     5592   [B2262] 리치 사파리          41800       B2262
12     5651  [B2309] 시티 포켓 백          48900       B2309
14     5787    [B2407] 레이디 힐          27720       B2407
18     6316  [B2726] 터들 패치 티          28600       B2726

In [257]:
#masales3 에 새 컬럼 가격을 넣어준다
dfMasales3['ItemCost'] = 0

In [258]:
# 공통값의 인덱스 넘버 조사 for문을 위해,,,?
arrCV = []
arrCV = dfCommonValue.index
arrCV[:10]

Int64Index([0, 1, 2, 3, 4, 6, 7, 8, 9, 10], dtype='int64')

In [259]:
arrCV_PC = []
for x in arrCV:
    xx=[]
    #해당 인덱스에 해당하는 상품코드 출력
    xx = dfCommonValue.loc[x, ['ProductCode']].values
    # 해당 인덱스에 해당하는 가격 출력
    xxCost = dfCommonValue.loc[x, ['ITEM_IDV_COST']].values
    #얻은 상품코드를 masales3에서 찾아내어 인덱스 번호를 찾는다
    xxx = dfMasales3.loc[dfMasales3['ProductCode'].isin(xx)].index
    dfMasales3.loc[xxx, 'ItemCost'] = xxCost

In [260]:
dfMasales3.head()

  ProductCode   ProductName    productTag1  productTag2 ItemCost
0       B1165     빈티지 체인 와펜         베이지,카키         Free     2838
1       B1216       리치 울 코트          블랙,카멜     B1,B2,B3    64000
2       B1286      핸드메이드 코트             블랙           B3        0
3       B1606  도트 그라데이션 머플러           인디핑크         Free        0
4       B1716        멀티 레깅스  그레이,네이비,블랙,차콜  B1,B2,B3,BF    18348

In [261]:
#final = "D:\dev-envs\pyexcel//masales3WithProductCost.xlsx"
#dfMasales3.to_excel(final, sheet_name='masales3WithProductCost', index=False)

In [262]:
dfMasales3_sorted = dfMasales3.sort_values(by='ItemCost', ascending=False)

In [263]:
dfMasales3_sorted.head()

     ProductCode    ProductName productTag1  productTag2 ItemCost
615        B5034      폭스 우먼 베스트       다크브라운        B1,B3   226800
1338     BFFD801      플리츠 다운 패딩          블랙  B1,B2,B3,BF   186103
1326     BFFC708    알파카 라쿤후드 코트          블랙  B1,B2,B3,BF   176266
2657       D0204     램스킨 카멜 호보백          카멜         Free   172000
630        B5049  헤리티지 폭스퍼 다운패딩      세피아브라운     B1,B2,B3   169856

In [264]:
import openpyxl
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font

In [265]:
wb = openpyxl.Workbook()

In [266]:
ws = wb.create_sheet('sheet')
ws.title = '주문테이블'

In [267]:
ws.merge_cells('A1:D1') 
ws['A1']= '상품가격 있는 제품의 수'
ws.merge_cells('E1')
ws.merge_cells('A2:D2') 
ws['A2'] = '상품가격 없는 제품의 수'
ws.merge_cells('E2')
ws.merge_cells('A3:D3')
ws['A3'] = 'orderlist_original.xlsx에 없는 제품의 수'
ws.merge_cells('E3')
ws.merge_cells('A4:D4')
ws['A4'] = 'orderlist_original.xlsx에 없는 제품의 ProductCode'
ws.merge_cells('E4')

In [268]:
arrThereIsPrice = []
arrThereIsPrice = dfMasales3[dfMasales3['ItemCost'] > 0].index

arrThereIsNoPrice = []
arrThereIsNoPrice = dfMasales3[dfMasales3['ItemCost'] == 0].index

In [269]:
arrThereIsPrice

Int64Index([   0,    1,    4,    6,    7,    8,   12,   13,   14,   16,
            ...
            2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737],
           dtype='int64', length=1945)

In [270]:
print(len(arrThereIsPrice))
ws['E1']=len(arrThereIsPrice)

1945

In [271]:
arrThereIsNoPrice
ws['E2']=len(arrThereIsNoPrice)

In [272]:
dfNotCommonValue['ProductCode']
arrNotCVPC = []
arrNotCVPC = dfNotCommonValue['ProductCode']

In [273]:
arrNotCVPC.head()

5     B1933
11    B2262
12    B2309
14    B2407
18    B2726
Name: ProductCode, dtype: object

In [274]:
ws['E3']=len(arrNotCVPC)

In [275]:
xStr = ''
for x in arrNotCVPC:
    xStr += str(x) + ' / '
    
ws['E4']= xStr

In [276]:
dfMasales3_sorted.head()

     ProductCode    ProductName productTag1  productTag2 ItemCost
615        B5034      폭스 우먼 베스트       다크브라운        B1,B3   226800
1338     BFFD801      플리츠 다운 패딩          블랙  B1,B2,B3,BF   186103
1326     BFFC708    알파카 라쿤후드 코트          블랙  B1,B2,B3,BF   176266
2657       D0204     램스킨 카멜 호보백          카멜         Free   172000
630        B5049  헤리티지 폭스퍼 다운패딩      세피아브라운     B1,B2,B3   169856

In [277]:
ws['A5']='ProductCode'
ws['B5']='ProductName'
ws['C5']='productTag1'
ws['D5']='productTag2'
ws['E5']='ItemCost'

In [278]:
arrNum = dfMasales3_sorted.index

In [279]:
intn = len(arrNum)
intn

2738

In [280]:
finalPCode = dfMasales3_sorted['ProductCode']
fpc = finalPCode.values
for i, value in enumerate(fpc):
    ws.cell(row=i+6, column=1, value=value)

In [281]:
finalPName = dfMasales3_sorted['ProductName']
fpn = finalPName.values
for i, value in enumerate(fpn):
    ws.cell(row=i+6, column=2, value=value)

In [282]:
finalPT1 = dfMasales3_sorted['productTag1']
fpt1 = finalPT1.values
for i, value in enumerate(fpt1):
    ws.cell(row=i+6, column=3, value=value)

In [283]:
finalPT2 = dfMasales3_sorted['productTag2']
fpt2 = finalPT2.values
for i, value in enumerate(fpt2):
    ws.cell(row=i+6, column=4, value=value)

In [284]:
finalCost = dfMasales3_sorted['ItemCost']
fc = finalCost.values
for i, value in enumerate(fc):
    ws.cell(row=i+6, column=5, value=value)

In [285]:
my_bgColor = openpyxl.styles.colors.Color(rgb='00C0C0C0')
my_fill = openpyxl.styles.fills.PatternFill(patternType='solid', fgColor=my_bgColor)
ws['A1'].fill = my_fill
ws['A2'].fill = my_fill 
ws['A3'].fill = my_fill
ws['A4'].fill = my_fill
ws['A5'].fill = my_fill
ws['B5'].fill = my_fill
ws['C5'].fill = my_fill
ws['D5'].fill = my_fill
ws['E5'].fill = my_fill

thin = Side(border_style="thin", color="000000")
border = Border(left=thin, right=thin, top=thin, bottom=thin)
bb = len(ws['E'])
bbb = 'E'+str(bb)
for row in ws['A1':bbb]:
    for cell in row:
        cell.border = border

In [286]:
wb.save(filename="masales3수정.xlsx")

In [287]:
#final = "D:\dev-envs\pyexcel//masales3WithProductCost.xlsx"
#dfMasales3.to_excel(final, sheet_name='masales3WithProductCost', index=False)