In [1]:
# 주피터 노트북 환경설정
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

from IPython.display import Image

from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 98% !important; }</style>"))

In [2]:
import numpy as np
import pandas as pd

In [3]:
dbInfo = pd.read_excel('saleviscaretable.xlsx')

In [4]:
dbInfo.head()

,테이블명,논리테이블명,순번,컬럼명,데이터 타입,데이터 길이,KEY,NULL허용,자동여부,디폴트값,컬럼설명
0,additionalserviceext,게시판 사용자정의필드,1,RelateDataId,bigint,bigint(11),PRI,NO,NaN,NaN,게시물ID
1,additionalserviceext,게시판 사용자정의필드,2,ExtVarchar01,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 01
2,additionalserviceext,게시판 사용자정의필드,3,ExtVarchar02,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 02
3,additionalserviceext,게시판 사용자정의필드,4,ExtVarchar03,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 03
4,additionalserviceext,게시판 사용자정의필드,5,ExtVarchar04,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 04

In [5]:
import openpyxl

wb = openpyxl.Workbook()

In [6]:
sheet1 = wb['Sheet']
sheet1.title = '테이블명세서'

In [7]:
# Workbook == 엑셀파일전체 AND Worksheet == 엑셀시트하나하나 
# spreadsheet 라는 변수에 .active 사용시 활성화된 시트를 불러온다. 초기엔 하나뿐..
# 시트이름 바꾸기 ex) sheet2.title = '수집 데이터'

# 원하는 셀에 값 입력하기.. 예) A1, B1, C1, D1 == '테이블 이름'
sheet1.merge_cells('A1:D1') 
sheet1['A1']= '테이블 이름'

In [8]:
## 데이터프레임처럼 pd.read_excel 로도 엑셀파일을 불러올 수 있지만, 
## Workbook 의 메소드로도 기존 엑셀파일을 로드 할수 있다.
## 예) openpyxl.load_workbook(파일명) ==> wb=openpyxl.load_workbook('test.xlsx')
## 엑셀파일 저장은 Workbook.save(파일명) 으로 가능하다.
## 예) wb.save('test.xlsx')

In [9]:
## 테이블 명, 논리테이블명 등의 유니크한 값들을 시리즈로 담아본다..
dbInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2158 entries, 0 to 2157
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   테이블명    2158 non-null   object
 1   논리테이블명  1966 non-null   object
 2   순번      2158 non-null   int64
 3   컬럼명     2158 non-null   object
 4   데이터 타입  2158 non-null   object
 5   데이터 길이  2158 non-null   object
 6   KEY     130 non-null    object
 7   NULL허용  2158 non-null   object
 8   자동여부    28 non-null     object
 9   디폴트값    118 non-null    object
 10  컬럼설명    1960 non-null   object
dtypes: int64(1), object(10)
memory usage: 185.6+ KB

In [10]:
## 위는 dbInfo 에 들어 있는 엑셀파일의 인포...
## 테이블명은 중복값이 있고 바뀌기 때문에 중복값을 제외 한 테이블명을 담는다. 

dbInfo['테이블명'].duplicated()

0       False
1        True
2        True
3        True
4        True
        ...
2153     True
2154     True
2155     True
2156     True
2157     True
Name: 테이블명, Length: 2158, dtype: bool

In [11]:
## true == 중복, false == 최초의 값, 즉, false만 뽑으면 각 테이블명만 담아낼수 있다..

dbTableNames = dbInfo['테이블명'].drop_duplicates()

In [12]:
dbTableNames.head()

0     additionalserviceext
39              aliastable
42              attachment
60               bbsmaster
77            bbsmasterext
Name: 테이블명, dtype: object

In [13]:
dbTableNames.tail()

1943         tenant
1986      tenantext
2025    tenant_back
2075          users
2117       usersext
Name: 테이블명, dtype: object

In [14]:
## 뽑아낸 테이블명의 시리즈에서 0번지의 값을 엑셀에 추가해보자.. 셀은 E1~J1

## 우선 시리즈를 어레이로..

arrTableNames = np.array(dbTableNames.values.tolist())
arrTableNames

array(['additionalserviceext', 'aliastable', 'attachment', 'bbsmaster',
       'bbsmasterext', 'bbspost', 'bbspostcomm', 'bbspostext',
       'bbspostread', 'bookmark', 'campaign', 'campaigncustomer',
       'campaigncustomerext', 'campaignext', 'campaignimpl',
       'campaignimplcustomer', 'campaignimplcustomerext',
       'campaignimplext', 'campaignlog', 'commoncode', 'csitemtypedetail',
       'csitemtypeext', 'ctihist', 'ctihistext', 'custcampaignext',
       'customer', 'customerbranch', 'customerext', 'department', 'form',
       'freechat', 'freechatcomm', 'freechatuser',
       'idpassfindcetification', 'inquery', 'inqueryext', 'menu',
       'menutenant', 'menutype', 'metacolumn', 'metatable', 'notice',
       'organization', 'organizationext', 'penchartdetail',
       'penchartforms', 'penchartmaster', 'penchartmng', 'penchartmngext',
       'role', 'roleext', 'rolescreen', 'roleusers', 'roleusers_back',
       'scbranchpointmng', 'sccalendarmemo', 'sccampaigncustimplext',
       'sccustcounsel', 'sccusthist', 'sccusthistext', 'sccustpassticket',
       'sccustpaydetail', 'sccustpaymaster', 'sccustpaymethod',
       'sccustreserveitem', 'sccustreservememo', 'sccustreservememoext',
       'scholiday', 'scholidayext', 'scitemtype', 'scitemtyperegular',
       'screen', 'scsurgicalreserve', 'scvisitreserve', 'sendemailverify',
       'sendemailverifyext', 'sendnumberverify', 'sendnumberverifyext',
       'sendverify', 'smssituationauto', 'smssituationautotenant',
       'smssituationautouser', 'temp_code_banks', 'tenant', 'tenantext',
       'tenant_back', 'users', 'usersext'], dtype='<U23')

In [15]:
arrTableNames[0]

'additionalserviceext'

In [16]:
## 어레이의 0번지를 특정 위치에 삽입하자..


sheet1.merge_cells('E1:J1')
sheet1['E1'] = arrTableNames[0]

In [17]:
sheet1.merge_cells('A2:D2') 
sheet1['A2']= '테이블 설명'

In [18]:
## 논리테이블명 부터는 어레이와 데이터프레임의 테이블명을 비교하여 같은것을 가져오자..
## for문을 이용하거나 반복문을 통해서 모든 값을 어레이로 담는다..
## 또는 dbTableNames 인덱스를 사용...?

tableNameIndex = dbTableNames.index

tableNameIndex

Int64Index([   0,   39,   42,   60,   77,  116,  134,  146,  185,  195,  207,
             242,  265,  304,  343,  369,  404,  443,  482,  485,  514,  528,
             567,  588,  627,  666,  690,  721,  760,  773,  801,  815,  828,
             841,  849,  862,  901,  922,  943,  954,  989, 1003, 1021, 1052,
            1091, 1103, 1115, 1127, 1143, 1182, 1201, 1240, 1265, 1276, 1301,
            1314, 1326, 1365, 1382, 1390, 1429, 1448, 1463, 1489, 1501, 1516,
            1532, 1571, 1586, 1625, 1651, 1663, 1689, 1708, 1726, 1738, 1777,
            1792, 1831, 1851, 1886, 1908, 1914, 1943, 1986, 2025, 2075, 2117],
           dtype='int64')

In [19]:
arrTableInfo =[]
for i in tableNameIndex:
    x = dbInfo.at[i, '논리테이블명']
    arrTableInfo.append(x)

    
arrTableInfo

['게시판 사용자정의필드',
 '테이블 별칭 정보',
 '첨부파일',
 '게시판관리',
 '게시판 사용자정의필드',
 '게시물',
 '게시물 댓글',
 '게시물 사용자정의컬럼',
 '게시물읽음',
 nan,
 '캠페인 정보',
 '캠페인 대상자-수신자 그룹 또는 수기(엑셀)등록등으로 관리',
 '게시판 사용자정의필드',
 '게시판 사용자정의필드',
 '캠페인 실행 기록',
 '캠페인 실행 대상자-캠페인 실행시에 조건에 따라서 조회/등록',
 '게시판 사용자정의필드',
 '게시판 사용자정의필드',
 '캠페인로그기록',
 '공통코드',
 'SC 유형관리 상세 테이블',
 '게시판 사용자정의필드',
 'CTI 이력 관리 테이블',
 '게시판 사용자정의필드',
 '게시판 사용자정의필드',
 '고객',
 '지점 별 고객 관리 테이블',
 '게시판 사용자정의필드',
 '조직',
 '서식정보',
 '프리채팅',
 '프리채팅내용',
 '프리채팅참가자',
 '이메일 인증 테이블',
 '서비스문의',
 '게시판 사용자정의필드',
 '메뉴',
 '회원사별메뉴',
 '메뉴별타입',
 '메타컬럼',
 '메타테이블',
 nan,
 '조직관리',
 '게시판 사용자정의필드',
 '고객펜차트상세',
 '펜차트 서식관리',
 '고객펜차트마스터',
 '펜차트관리 테이블',
 '게시판 사용자정의필드',
 '역할',
 '게시판 사용자정의필드',
 '역할별화면권한',
 '역할별사용자',
 nan,
 'SC 지점별 포인트 관리',
 '캘린더 메모',
 '게시판 사용자정의필드',
 '고객 상담관리',
 '고객 이력관리',
 '게시판 사용자정의필드',
 '고객 정액권횟수권',
 '고객 결제 상세',
 '고객 결제 마스터',
 '고객 결제 수단',
 '상담 및 예약 유형 관리',
 '예약메모 관리',
 '게시판 사용자정의필드',
 nan,
 '게시판 사용자정의필드',
 'SC 유형관리 테이블',
 'SC 유형관리 상세 테이블',
 '화면',
 '고객 시술고객 시술예약관리',
 '고객 방문예약관리',
 '발신이메일 인증-Email발송시 인증된 이메일로만 발송이 가능하다.',
 '게시판 사용자정의필드',
 '발신번호 인증-SMS발송시 인증된 번호로만 발송이 가능하다. 중복된 번호도 가능하다.',
 '게시판 사용자정의필드',
 '발신인증-SMS/Email 발송시 인증된 번호/이메일 로만 발송이 가능하다. 중복된 번호도 가능하다.',
 '상황별 SMS 자동발송 관리',
 '상황별 SMS 테넌트별 설정',
 '상황별 SMS 사용자별 설정',
 nan,
 nan,
 'Tenant 사용자정의필드',
 nan,
 '사용자',
 '사용자 사용자정의필드']

In [20]:
sheet1.merge_cells('E2:J2')
sheet1['E2'] = arrTableInfo[0]

In [21]:
sheet1.merge_cells('A3:D3') 
sheet1['A3']= 'PRIMARY KEY'

In [22]:
## 프라이머리 키를 가져오기 위해서 위와 비슷하게 이번엔 인덱스가 아닌 value로..
## 
  
dbInfo.loc[dbInfo['테이블명'] == arrTableNames[0]].head()

,테이블명,논리테이블명,순번,컬럼명,데이터 타입,데이터 길이,KEY,NULL허용,자동여부,디폴트값,컬럼설명
0,additionalserviceext,게시판 사용자정의필드,1,RelateDataId,bigint,bigint(11),PRI,NO,NaN,NaN,게시물ID
1,additionalserviceext,게시판 사용자정의필드,2,ExtVarchar01,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 01
2,additionalserviceext,게시판 사용자정의필드,3,ExtVarchar02,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 02
3,additionalserviceext,게시판 사용자정의필드,4,ExtVarchar03,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 03
4,additionalserviceext,게시판 사용자정의필드,5,ExtVarchar04,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 04

In [23]:
wb.save(filename="test.xlsx")

In [24]:
## 셀 bgcolor setting
from openpyxl.styles import Border, Side, PatternFill, Font, GradientFill, Alignment

for rows in sheet1.iter_rows(min_row=1, max_row=6, min_col=1, max_col=1):
    for cell in rows:
      cell.fill = PatternFill(fgColor="00C0C0C0", fill_type = "solid")
    
## font color
#a1 = sheet1['A1']
#a2 = sheet1['A2']
#ft = Font(color="ffffff")
#a1.font = ft
#a2.font =ft

In [25]:
## cell border 타입 설정. 
from openpyxl.styles import Border, Side

thin = Side(border_style="thin", color="000000")
border = Border(left=thin, right=thin, top=thin, bottom=thin)

## sheet1.border = border

for row in sheet1['A1:J6']:
    for cell in row:
        cell.border = border

In [26]:
wb.save(filename="test.xlsx")

In [27]:
## 첫번째 테이블의 세부 내용을 담고..

tableDetailByName = dbInfo.loc[dbInfo['테이블명'] == arrTableNames[0]]

In [28]:
tableDetailByName.head()

,테이블명,논리테이블명,순번,컬럼명,데이터 타입,데이터 길이,KEY,NULL허용,자동여부,디폴트값,컬럼설명
0,additionalserviceext,게시판 사용자정의필드,1,RelateDataId,bigint,bigint(11),PRI,NO,NaN,NaN,게시물ID
1,additionalserviceext,게시판 사용자정의필드,2,ExtVarchar01,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 01
2,additionalserviceext,게시판 사용자정의필드,3,ExtVarchar02,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 02
3,additionalserviceext,게시판 사용자정의필드,4,ExtVarchar03,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 03
4,additionalserviceext,게시판 사용자정의필드,5,ExtVarchar04,varchar,varchar(100),NaN,YES,NaN,NaN,Varchar 04

In [29]:
## 첫번째 테이블의 프라이머리키 컬럼명을 조사한다.
thisPK = tableDetailByName.loc[tableDetailByName['KEY']=='PRI']

In [30]:
thisPK

,테이블명,논리테이블명,순번,컬럼명,데이터 타입,데이터 길이,KEY,NULL허용,자동여부,디폴트값,컬럼설명
0,additionalserviceext,게시판 사용자정의필드,1,RelateDataId,bigint,bigint(11),PRI,NO,NaN,NaN,게시물ID

In [31]:
PKString = thisPK['컬럼명'].values[0]

In [32]:
sheet1.merge_cells('E3:J3') 
sheet1['E3']= PKString

In [33]:
wb.save(filename="test.xlsx")

In [34]:
sheet1.merge_cells('A4:D4') 
sheet1['A4']= 'FOREIGN KEY'
sheet1.merge_cells('A5:D5') 
sheet1['A5']= 'INDEX'
sheet1.merge_cells('A6:D6') 
sheet1['A6']= 'UNIQUE INDEX'

In [35]:
## 첫테이블의 FK를 조사
thisFK = tableDetailByName.loc[tableDetailByName['KEY']=='MUL']

In [36]:
thisFK

Empty DataFrame
Columns: [테이블명, 논리테이블명, 순번, 컬럼명, 데이터 타입, 데이터 길이, KEY, NULL허용, 자동여부, 디폴트값, 컬럼설명]
Index: []

In [37]:
FKString == ""
sheet1.merge_cells('E4:J4') 
FKString = thisFK['컬럼명'].values
if not aa:
    print("FKString" + FKString + "is none")
else:
    sheet1['E4']= FKString

NameError: name 'FKString' is not defined

In [ ]:
wb.save(filename="test.xlsx")

In [ ]:
for rows in sheet1.iter_rows(min_row=1, max_row=1, min_col=1, max_col=10):
    for cell in rows:
      cell.fill = PatternFill(fgColor="00C0C0C0", fill_type = "solid")

In [38]:
sheet1['A7']= 'NO'
sheet1['B7']= 'PK'
sheet1['C7']= 'AI'
sheet1['D7']= 'FK'
sheet1['E7']= 'NULL'
sheet1['F7']= '컬럼 이름'
sheet1['G7']= 'TYPE'
sheet1['H7']= 'DEFAULT'
sheet1['I7']= '설명'
sheet1['J7']= '참조 테이블'

In [45]:
sheet1.merge_cells('E4:J4')
sheet1.merge_cells('E5:J5') 
sheet1.merge_cells('E6:J6')

In [43]:
nn = tableDetailByName.index +1
nn

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39],
           dtype='int64')

In [44]:

for i, value in enumerate(nn):
    sheet1.cell(row=i+8, column=1, value=value)

In [46]:
wb.save(filename="test.xlsx")